@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  background-color: #161823;
}

header .navbar-container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-block: 1rem;
  z-index: 999;
}

header .navbar-container .nav-list .logo img {
  width: 40px;
}

header .navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header .navbar-container .nav-list li {
  list-style-type: none;
  margin-top: 15px;
}

header .navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header .navbar-container .nav-list li:hover a {
  color: #ef7965;
}

.btn-contact {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  height: 55px;
  width: 240px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  font-family: "Poopins", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 30px;
  background-color: #ef7965;
  cursor: pointer;
  transition: all 0.15s ease-in;
  text-decoration: none;
  color: whitesmoke;
}

.btn-contact:hover {
  border: 3px solid #ef7965;
  color: whitesmoke;
  background-color: transparent;
}

.navbar-container .shape {
  width: 800px;
  height: 700px;
  background-color: #212330;
  border-bottom-left-radius: 120px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -9999;
}

header .line {
  width: 1100px;
  height: 1px;
  background-color: #494c5d;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

/* CSS main  */
main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 0rem 4rem;
  flex: none;

  display: flex;
  align-items: center;
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1 1;
}

main .content .content-description .section-satu {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main .content .content-description .section-satu h1.title {
  width: 521px;
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

main .content .content-description .section-satu .sub-title {
  width: 404px;
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  padding: 1px;
  font-size: 20px;
}

.btn-collab {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  height: 55px;
  width: 240px;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  font-family: "Poopins", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 30px;
  background-color: #ef7965;
  cursor: pointer;
  transition: all 0.15s ease-in;
  text-decoration: none;
  color: whitesmoke;
}

.btn-collab:hover {
  border: 3px solid #ef7965;
  color: whitesmoke;
  background-color: transparent;
}

.img-satu {
  width: 500px;
}

/* Section 2 */
main .content .content-description .section-dua {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

main .content .content-description .section-dua h1.title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

main .content .content-description .section-dua p.sub-title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

main .content .content-description .section-dua .biodata {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main .content .content-description .section-dua .biodata h1.title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: end;
}

main .content .content-description .section-dua .biodata p.sub-title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 20px;
  margin-top: 20px;
  text-align: end;
}

main
  .content
  .content-description
  .section-dua
  .biodata
  .detail-biodata
  .portofolio {
  /* ini harus diperbaiki */
  margin-left: 200px;
}

main
  .content
  .content-description
  .section-dua
  .biodata
  .detail-biodata
  .portofolio
  img {
  margin-left: 20px;
}

/* Section 3 */
main .content .content-description .section-tiga {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

main .content .content-description .section-tiga h1.title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

main .content .content-description .section-tiga p.sub-title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

main .content .content-description .section-tiga .card-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .content .content-description .section-tiga .card-group .card {
  width: 443px;
  height: 353px;
  background-color: white;
  border-radius: 20px;
  margin-top: 100px;
  margin-right: 30px;
}

main .content .content-description .section-tiga .card-group .card .main-img {
  width: 403px;
  height: 226px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main
  .content
  .content-description
  .section-tiga
  .card-group
  .card
  .ratecard-data {
  width: 403px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main
  .content
  .content-description
  .section-tiga
  .card-group
  .card
  .ratecard-data
  p.product {
  color: #3d3d3d;
  font-family: "Poopins", sans-serif;
  height: 3px;
  font-weight: 600;
  font-size: 20px;
}

main
  .content
  .content-description
  .section-tiga
  .card-group
  .card
  .ratecard-data
  .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .content .content-description .section-tiga .card-group .card .rating {
  width: 25px;
  height: 25px;
}

main
  .content
  .content-description
  .section-tiga
  .card-group
  .card
  .ratecard-data
  .detail
  .rating-number {
  color: #7a7778;
  font-family: "Poopins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 5px;
}

main
  .content
  .content-description
  .section-tiga
  .card-group
  .card
  .ratecard-data
  .detail
  .client {
  color: #7a7778;
  font-family: "Poopins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 15px;
}

main
  .content
  .content-description
  .section-tiga
  .card-group
  .card
  .ratecard-data
  .detail
  .price {
  color: #02264a;
  font-family: "Poopins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 153px;
}

/* Section 4 */
main .content .content-description .section-empat {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

main .content .content-description .section-empat h1.title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

main .content .content-description .section-empat p.sub-title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

main .content .content-description .section-empat .biodata {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main .content .content-description .section-empat .biodata p.sub-title {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 32px;
  margin-top: 20px;
  text-align: start;
}

main .content .content-description .section-empat .biodata p.name {
  color: whitesmoke;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 18px;
  margin-top: 20px;
  text-align: start;
}

main .content .content-description .section-empat .biodata p.roles {
  color: #b5b5b5;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 16px;
  margin-top: 20px;
  text-align: start;
}

/* Section 5 */
footer .card {
  width: 100%;
  height: 185px;
  background-color: #212330;
  margin-top: 100px;
  border-top-left-radius: 100px;
}

footer .card .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .card .social-media img {
  margin-top: 55px;
  margin-left: 20px;
  height: 28px;
}

footer .card p {
  color: #ffffff;
  font-family: "Poopins", sans-serif;
  font-weight: 100;
  /* padding: 1px; */
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
